header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}